<div class="app-container">
  <div class="app-title">
    <h1>Selecione um Usuário</h1>
  </div>
  <div class="app-context">
    <p-dropdown [options]="users" [(ngModel)]="selectedUser" placeholder="Selecione um Usuário"
      optionLabel="name"></p-dropdown>
    <p-dropdown [options]="options" [(ngModel)]="selectedOption" placeholder="Organizar por"
      optionLabel="name" (onChange)="onChangeOption()"></p-dropdown>
  </div>
  <div class="story-container">
    <div *ngFor="let story of stories" class="card flex justify-content-center">
      <p-card [header]="story.title" [style]="{ width: '300px' }">
        <ng-template pTemplate="header"></ng-template>
        <p>{{ story.description }}</p>
        <p>Likes - {{ story.likes }}</p>
        <p>Dislike - {{ story.dislikes }}</p>
        <p>Departamento - {{ getDepartmentName(story.departmentId) }}</p>
        <ng-template pTemplate="footer">
          <div class="app-cta">
            <button pButton pRipple label="Like" class="p-button-success" (click)="vote(story.id, true)"></button>
            <button pButton label="Dislike" class="p-button-danger" (click)="vote(story.id, false)"></button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
